@import "tailwindcss";

@theme {
    --color-dark: #000000;
    --color-darkGray: #707070;
    --color-lightGray: #a6a6a6;
    --color-light: #ffffff;
    --color-salmon: #eb5757;
    --font-mulish: "Mulish", sans-serif;
}
